<div id="RunningVis" width="5in"></div>
<script>
    var yourVlSpec = {
        $schema: 'https://vega.github.io/schema/vega-lite/v4.json',
        description: 'Unique Users as a function of time.',
        width: 400,
        data: { "url": "../data/running.csv" },
        mark: {
            "type": "line",
            "interpolate": "step-after"
        },
        encoding: {
            x: { field: 'Date', type: 'temporal' },
            y: { field: 'nPeople', type: 'quantitative' }
        }
    };
    vegaEmbed('#RunningVis', yourVlSpec);
</script>