{% if running_room_id == "" %}
{% assign running_room_url = "data/running.csv" %}
{% else %}
{% capture running_room_url %}data/running_{{running_room_id}}.csv{% endcapture %}
{% endif %}
{% if running_plot_counter %}
  {% assign running_plot_counter = running_plot_counter | plus: 1 %}
{% else %}
{% assign running_plot_counter = 0 %}
{% endif %}
<div id="RunningVis_{{running_plot_counter}}" width="5in"></div>
<script>
    var yourVlSpec = {
        $schema: 'https://vega.github.io/schema/vega-lite/v4.json',
        description: 'Unique Users as a function of time.',
        width: 400,
        data: { "url": "{{running_room_url}}" },
        mark: {
            type: "line",
            interpolate: "step-after",
        },
        encoding: {
            x: { field: 'Date', type: 'temporal' },
            y: { field: 'nPeople', type: 'quantitative' },
            tooltip: {field: "nPeople", type: "quantitative"},
        }
    };
    vegaEmbed('#RunningVis_{{running_plot_counter}}', yourVlSpec);
</script>
